---
import Image from "astro/components/Image.astro";

import item1 from "../assets/gallery-1.png";
import item2 from "../assets/gallery-2.png";
import item3 from "../assets/gallery-3.png";
import item4 from "../assets/gallery-4.png";
import item5 from "../assets/gallery-5.png";
import item6 from "../assets/gallery-6.png";
import item7 from "../assets/gallery-7.png";
---

<section class="relative">
    <div class="w-full max-w-7xl mx-auto px-4 py-0 lg:py-12 sm:px-6 lg:px-8">
        <div
            class="grid grid-cols-3 md:grid-cols-3 gap-2 md:gap-2 m-4 auto-rows-max"
        >
            <div
                class="col-start-1 row-start-1 row-span-2 md:col-start-1 md:row-start-1 md:col-span-1 md:row-span-2 relative"
            >
                <Image
                    src={item7}
                    alt="Main showcase"
                    class="w-full h-full object-cover rounded-lg shadow-lg"
                    loading="eager"
                    fetchpriority="high"
                />
            </div>
            <div
                class="col-start-2 row-start-1 col-span-2 md:col-start-2 md:row-start-1 md:col-span-2 md:row-span-1 relative"
            >
                <Image
                    src={item3}
                    alt="Main showcase"
                    class="w-full h-full object-cover rounded-lg shadow-lg"
                    loading="eager"
                    fetchpriority="high"
                />
            </div>
            <div
                class="col-start-2 row-start-2 md:col-start-2 md:row-start-2 md:col-span-1 md:row-span-1 relative"
            >
                <Image
                    src={item4}
                    alt="Main showcase"
                    class="w-full h-full object-cover rounded-lg shadow-lg"
                    loading="eager"
                    fetchpriority="high"
                />
            </div>
            <div
                class="col-start-3 row-start-2 md:col-start-3 md:row-start-2 md:col-span-1 md:row-span-1 relative"
            >
                <Image
                    src={item6}
                    alt="Main showcase"
                    class="w-full h-full object-cover rounded-lg shadow-lg"
                    loading="eager"
                    fetchpriority="high"
                />
            </div>
            <div
                class="col-start-1 row-start-3 col-span-2 md:col-start-1 md:row-start-3 md:col-span-2 md:row-span-1 relative"
            >
                <Image
                    src={item2}
                    alt="Main showcase"
                    class="w-full h-full object-cover rounded-lg shadow-lg"
                    loading="lazy"
                    fetchpriority="low"
                />
            </div>
            <div
                class="col-start-3 row-start-3 md:col-start-3 md:row-start-3 md:col-span-1 md:row-span-1 relative"
            >
                <Image
                    src={item5}
                    alt="Main showcase"
                    class="w-full h-full object-cover rounded-lg shadow-lg"
                    loading="lazy"
                    fetchpriority="low"
                />
            </div>
        </div>
    </div>
</section>
